*{
    margin: 0;
    padding: 0;
}

h1{
    color: rgba(255, 145, 0, 0.877);
}

body{
    background-color: black;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem white;
    font-size: 8vmin;
    color: rgba(198, 20, 20, 0.925);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(255, 145, 0, 0.877);
    color: white;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgba(255, 145, 0, 0.877);
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: rgb(255, 255, 255);
    font-size: 5vmin;
}

.msg-container{
    height: 8vmin;
}

.hide{
    display: none;
}